<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="orderPlatform-app-service"/>

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://zookeeper.com:2181" file="./registry.file"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="30903"/>

    <dubbo:service cluster="failfast" interface="com.order.server.UserServer" ref="userServer" timeout="15000"/>
    <dubbo:service cluster="failfast" interface="com.order.server.AuthServer" ref="authServer" timeout="15000"/>
    <dubbo:service cluster="failfast" interface="com.order.server.UserMoneyServer" ref="userMoneyServer" timeout="15000"/>
    <dubbo:service cluster="failfast" interface="com.order.server.UserIntegrateServer" ref="userIntegrateServer" timeout="15000"/>
    <dubbo:service cluster="failfast" interface="com.order.server.TaskServer" ref="taskServer" timeout="15000"/>
</beans>