<component name="libraryTable">
  <library name="mybatis">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../thirdpart/thirdparty/mybatis" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../thirdpart/thirdparty/mybatis" recursive="false" />
  </library>
</component>